branches:
  only:
    - master

environment:
  CONDA_INSTALL_LOCN: "C:\\conda"
  CMD_IN_ENV: "cmd /E:ON /V:ON /C obvci_appveyor_python_build_env.cmd"

  BINSTAR_TOKEN:
    secure: eNFZ6uLsFUgtwjXf6n/vayT97T4sSX1nG3iv8Hfp2vWKIZJIQ6jmCeL/agYmnbiX

  matrix:
    - TARGET_ARCH: "x64"
      CONDA_PY: "27"
      CONDA_PY: "34"
    - TARGET_ARCH: "x86"
      CONDA_PY: "27"
      CONDA_PY: "34"

# We always use a 64-bit machine, but can build x86 distributions
# with the TARGET_ARCH variable.
platform:
    - x64

install:
    - cmd: rmdir C:\cygwin /s /q
    - cmd: python Obvious-CI\bootstrap-obvious-ci-and-miniconda.py %CONDA_INSTALL_LOCN% %TARGET_ARCH% %CONDA_PY:~0,1% --without-obvci
    - cmd: SET PATH=%CONDA_INSTALL_LOCN%;%CONDA_INSTALL_LOCN%\Scripts;%PATH%

    - cmd: conda config --set always_yes true
    - cmd: conda update conda
    - cmd: "python scripts\\obvci_install_conda_build_tools.py"
    - cmd: conda config --add channels astropy
    # Install obvious-ci; run 2to3 first if the build is python 3.
    - cmd: cd Obvious-CI & if %CONDA_PY:~0,1%=="3" 2to3 -w . & python setup.py install & cd ..

# Skip .NET project specific build phase.
build: off

test_script:
    # Conda build currently leaks all environment variables, so unset BINSTAR_TOKEN.
    - "set BINSTAR_TOKEN='' && set && %CMD_IN_ENV% conda build obvious-ci.conda"
    - "%CMD_IN_ENV% python affiliate-builder/prepare_packages.py requirements.txt"
    - "if exist recipes then %CMD_IN_ENV% obvci_conda_build_dir.py --disable-upload recipes astropy"
    - "if exist bdist_conda then %CMD_IN_ENV% build_bdist.bat"

on_success:
    - "%CMD_IN_ENV python affiliate-builder/upload_bdists.py"


